layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane borderless=true
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="general"
    tab name="work"
    tab name="project"
}

// vim: set expandtab tabstop=4 shiftwidth=4:
