name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v30
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: DeterminateSystems/flake-checker-action@v12

      - name: Check formatting
        run: |
          nix develop --command nixfmt --check .

      - name: Flake check
        run: nix flake check

  build-nixos:
    runs-on: ubuntu-latest
    needs: check
    strategy:
      matrix:
        config: [vm, wsl]
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v30
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Build ${{ matrix.config }}
        run: nix build .#nixosConfigurations.${{ matrix.config }}.config.system.build.toplevel

  build-home-manager:
    runs-on: ubuntu-latest
    needs: check
    strategy:
      matrix:
        config:
          - nixos@linux-x86_64
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v30
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Build ${{ matrix.config }}
        run: nix build .#homeConfigurations."${{ matrix.config }}".activationPackage
